.container {
  font-family: 'Arial', sans-serif;
  background-color: #282c34;
  color: #e0e0e0;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.loading {
  position: fixed;
  display: block;
  width: 30px;
  height: 30px;
  border: 5px solid #61dafb;
  border-radius: 50%;
  border-left-color: transparent;
  transform: translate(-50%, -50%);
  animation: spin 1s infinite linear;
}

.title {
  text-align: center;
  color: #61dafb;
  margin-bottom: 30px;
  font-size: 2.5em;
}

.inputSection {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.todoInput {
  flex-grow: 1;
  padding: 12px 15px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #3a3f47;
  color: #e0e0e0;
  font-size: 1em;
  outline: none;
  transition: border-color 0.3s ease;
}

.todoInput::placeholder {
  color: #a0a0a0;
}

.todoInput:focus {
  border-color: #61dafb;
}

.addButton {
  padding: 12px 20px;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.addButton:disabled {
  background-color: #ccc;
}

.addButton:hover {
  background-color: #4dc2ea;
}

.controlsSection {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.searchInput {
  flex-grow: 1;
  padding: 12px 15px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #3a3f47;
  color: #e0e0e0;
  font-size: 1em;
  outline: none;
  transition: border-color 0.3s ease;
}

.searchInput::placeholder {
  color: #a0a0a0;
}

.searchInput:focus {
  border-color: #61dafb;
}

.sortButton {
  padding: 12px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.sortButton:hover {
  background-color: #0056b3;
}

.todoList {
  list-style: none;
  padding: 0;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a3f47;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.todoItem:last-child {
  margin: 0;
}

.todoItem:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.todoText {
  flex-grow: 1;
  font-size: 1.1em;
  color: #e0e0e0;
  padding-right: 5px;
}

.todoItem.completed .todoText {
  text-decoration: line-through;
  color: #a0a0a0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
